<h1>Profile</h1>
<br>
<% if @created_events.present? %>
<h3>Created events</h3>
<p><%= render @created_events %></p>
<%= will_paginate @created_events, class: "text-center" %>
<% end %>

<% if @attended_events.any? %>
    <h3 class="text-center">Attended events:</h3>
    <%= render @attended_events %>
    <%= will_paginate @attended_events, class: "text-center" %>
<% end %>
