<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-10 ">
    <div class="well border-blue" style="background: whitesmoke;">
      <h4 class="text-center">
        <%= link_to event.title, event_path(event), style: 'text-decoration: none' %>
      </h4>
      <hr>
      <br>
      <h5>
        <span class="pull-right">
          Event by: <%= link_to event.creator.name, user_path(event.creator) %>
        </span>
      </h5>
    </div>
  </div>
</div>
