<section class="events-wrapper">
  <h1>Events list</h1>
  <ul class="tabs">
    <li class="active">Upcoming events</li>
    <li>Previous Events</li>
  </ul>

  <ul class="tab__content">
    <li class="active">
      <div class="content__wrapper">
        <div class="row">
          <% if @upcoming_events.present? %>
            <%= render @upcoming_events %>
            <%= will_paginate @upcoming_events, class: "text-center" %>
          <% else %>
            <p>Nothing to see here, yet.</p>
          <% end %>
        </div>
      </div>
    </li>
    <li>
      <div class="content__wrapper">
        <div class="row">
          <% if @past_events.present? %>
            <%= render @past_events %>
            <%= will_paginate @past_events, class: "text-center" %>
          <% else %>
            <p>Nothing to see here, yet.</p>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</section>
