<div class="intro">
  <div class="intro-message">
    <h1>Private Events</h1>
    <h3>Creating events made easy</h3>
    <% if logged_in? %>
      <%= link_to new_event_path, class: 'intro-btn' do %>
        <span>Create event</span>
      <% end %>
    <% else %>
      <%= link_to signup_path, class: 'intro-btn' do %>
        <span>Signup now</span>
      <% end %>
    <% end %>
  </div>
</div>
