@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition:    $args;
  -ms-transition:     $args;
  -o-transition:      $args;
  transition:         $args;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
}

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow:    $shadow;
  -o-text-shadow:      $shadow;
  text-shadow:         $shadow;
}

@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}

@mixin box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: 	  border-box;
  box-sizing: 		    border-box;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100); //IE8
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
