@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: 	  border-box;
  box-sizing: 		    border-box;
}

// TYPOGRAPHY //

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  padding-top: 1%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
}

h1 {
  font-size: 2.4em;
}

// LOGO //

.logo {
	background: rgb(255,255,255);
	border-radius: 100%;
  font-size: 6px;
	position: relative;
	margin: 0 auto;
	width: 12em;
	height: 12em;
	overflow: hidden;
	transform: translateZ(0);
  h4 {
  	color: rgba(189, 185, 199,0);
  	font-weight: 400;
  	font-size: 3em;
    line-height: 3em;
  	text-align: center;
  	text-transform: uppercase;
  	-webkit-font-smoothing: antialiased;
  	user-select: none;
  	transition: color .8s ease-in-out;
  }

  &:before, &:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: inset 10.6em 0 0 rgba(231, 76, 60, .15),
                inset 0 10.6em 0 rgba(231, 76, 60, .15),
                inset -10.6em 0 0 rgba(231, 76, 60, .15),
                inset 0 -10.6em 0 rgba(231, 76, 60, .15);
    transition: box-shadow .6s;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover:before, &:hover:after {
    box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5),
                inset 0 0.86em 0 rgba(252, 150, 0, 0.5),
                inset -0.86em 0 0 rgba(0, 255, 0, 0.5),
                inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);

  }

  &:hover {
    h4 {
  	  color: rgba(185, 185, 185, 1);
    }
  }
}

// NAVBAR //

.navbar_fx {
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.345;
  padding: 0;
  li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
  }
  .current {
    a {
      &:before {
        opacity: 1;
        width: 100%;
      }
      &:after {
        max-width: 100%;
      }
    }
  }

  a {
    padding: 0.5em 0;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    letter-spacing: -1px;
    text-decoration: none;
    &:before, &:after {
      position: absolute;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
    }
    &:before {
      bottom: 0;
      display: block;
      height: 2px;
      width: 0%;
      content: "";
      background-color: #e74c3c;
    }
    &:after {
      left: 0;
      top: 0;
      padding: 0.5em 0;
      position: absolute;
      content: attr(data-hover);
      color: rgba(0, 0, 0, .4);
      white-space: nowrap;
      max-width: 0%;
      overflow: hidden;
    }
    &:hover:before{
      opacity: 1;
      width: 100%;
    }
    &:hover:after {
      max-width: 100%;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-header {
  margin-bottom: 1%;
}

nav {
  margin-left: 61px;
}

// NAVBAR MOBILE //

@media (max-width: 482px) {
  .navbar_fx {
    line-height: 1.245;

    li {
      text-align: left;
      display: block;
      margin: 5% 0;

      a {
        letter-spacing: 0;
      }
    }
  }
}

// INTRO //

.intro {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to left, #4b6cb7, #182848);
  background: -o-linear-gradient(to left, #4b6cb7, #182848);
  background: linear-gradient(to left, #4b6cb7, #182848);
  padding: 250px 0;
  color: #ffffff;
  h1 {
    font-size: 4em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  }
  h1, h3 {
    font-weight: 400;
  }
  h3 {
    color: #b8bff1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
  }
  .intro-btn {
    background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.75) 100%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12),
                0 1px 0 0 rgba(255, 255, 255, 0.35) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding: 10px 20px;
    color: #4b6cb7;
    opacity: .85;
    span {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    &:hover {
      color: #4b6cb7;
      opacity: 1;
    }
  }
}

// GENERAL //

a {
  // transition: color .2s ease 0s;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

// DEBUGGING AND ERRORS //

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  background-color: rgba(15,15,15,.85);
  color: rgb(219,145,68);
  border: 1px solid #222;
}

#error_explanation{
  color: rgba(171,26,26,.7);
  ul{
	color: rgba(171,26,26,.7);
	margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form_control{
	color: $state-danger-text;
  }
}
