@import "mixins";
$prim: #53e3a6;

.signup-wrapper {
  height: 600px;
}

#signup-button {
  appearance: none;
  outline: 0;
  background-color: rgba(255, 255, 255, .9);
  border: 0;
  padding: 10px 15px;
  color: $prim;
  @include border-radius(3px);
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: .25s;

  &:hover {
    background-color: #fbfbfb;
  }
}
